{% extends 'header.html' %}
{% block content %}
  <body>
    <div>
        <h1 style="text-align: center">Contribution of Agriculture Sector in GDP</h1>
    </div>

    <div class="row">
        <div class="column">
            <div class="container">
                <div class="content">
                    <div class="divForCharts" id="AgricultureSectorMap">{{ outputAgricultureSector|safe }}
                        {% load static %}
                            <script src="{% static "fc_js/fusioncharts.maps.js" %}"></script>
                            <script src="{% static "fc_js/maps/fusioncharts.india.js" %}"></script>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="container">
                <div class="content">
                    <div class="divForCharts" id="GDPGraph">{{ outputGDP|safe }}</div>
                </div>
            </div>
        </div>
    </div>

    <button class="collapsible">A Word To The Viewers</button>
    <div class="contentCollapsible">
        <p>It is very much clear from the Plots that Agriculture Sector has the highest contribution in
the GDP. India being an agricultural state has its major growth in GDP through Agriculture.</p>
    </div>
    {% load static %}
        <script src="{% static "scriptForCollapsible.js"%}"></script>

    <!--<div class="row">
        <div class="column">
            <div class="container">
                <div class="content">
                    <h4><u>Predicted Rank of Health Indexes</u></h4>
                    <div class="column">
                        <div class="container">
                            <div class="content">
                                { % for i in range{10} %}
                                    <h4>{ { listSortedPredicted[i] }}</h4>
                                { % endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="container">
                            <div class="content">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="column">
            <div class="container">
                <div class="content">

                    <div class="column">
                        <div class="container">
                            <div class="content">

                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="container">
                            <div class="content">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>-->

  </body>
{% endblock %}