{% extends 'header.html' %}
{% block content %}
  <body>
    <div>
        <h1 style="text-align: center">Unemployment Rate and Economic Output of a State</h1>
    </div>

    <div class="row">
        <div class="column">
            <div class="container">
                <div class="content">
                    <div class="divForCharts" id="EconomicOutputMap">{{ outputEconomicOutput|safe }}
                        {% load static %}
                            <script src="{% static "fc_js/fusioncharts.maps.js" %}"></script>
                            <script src="{% static "fc_js/maps/fusioncharts.india.js" %}"></script>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="container">
                <div class="content">
                    <div class="divForCharts" id="UnemploymentRateGraph">{{ outputUnemploymentRate|safe }}</div>
                </div>
            </div>
        </div>
    </div>
     <button class="collapsible">Economic Output of a state</button>
    <div class="contentCollapsible">
        <p align="center">Economic Output = (GDP(in hundred million) / Population of the state) *100</p>
    </div>

    <button class="collapsible">A Word To The Viewers</button>
    <div class="contentCollapsible">
        <p>From the above two plots we got to know that Unemployment Rate is inversely proportional
        to the economic output of a state i.e. A state that has the greatest GDP will have less
        Unemployment.So, Unemployment affects the GDP of a state.</p>
    </div>
    {% load static %}
        <script src="{% static "scriptForCollapsible.js"%}"></script>

    <!--<div class="row">
        <div class="column">
            <div class="container">
                <div class="content">
                    <h4><u>Predicted Rank of Health Indexes</u></h4>
                    <div class="column">
                        <div class="container">
                            <div class="content">
                                { % for i in range{10} %}
                                    <h4>{ { listSortedPredicted[i] }}</h4>
                                { % endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="container">
                            <div class="content">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="column">
            <div class="container">
                <div class="content">

                    <div class="column">
                        <div class="container">
                            <div class="content">

                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="container">
                            <div class="content">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>-->

  </body>
{% endblock %}